{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.helper.ie8.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"></script>
    <link rel="stylesheet" href="{% static 'movie_app/css/style.css' %}">
</head>
<body>
    <div class="container-style">
        <header>
            <nav class="navbar navbar-style">
                <div>
                    <a href="{% url 'index' %}">
                        <img src="{% static 'movie_app/image/logo.png' %}" class="navbar-logo-style" alt="Logo">
                    </a>
                </div>
                <div>
                    <a href="" class="navbar-main-style">Filmy</a>
                    <a href="" class="navbar-main-style">Postacie</a>
                </div>
                <div class="col d-flex justify-content-end">
                    <form action="" method="GET" class="navbar-form-style">
                        <input type="text" name="title" placeholder="Tytuł" value="">
                        <button type="submit">&#9740;</button>
                    </form>
                    <div class="nav-item dropdown navbar-dropdown-style">
                        {% if request.user.is_authenticated %}
                            <a class="dropdown-toggle font-size-1-25" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ request.user }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                {% if request.user.is_staff %}
                                    <li><a href="{% url 'person-create' %}" class="dropdown-item">Nowy profil</a></li>
                                    <li><a href="" class="dropdown-item">Nowy film</a></li>
                                    <li><a href="" class="dropdown-item">Gatunki</a></li>
                                    <div class="dropdown-divider"></div>
                                {% endif %}
                                <li><a href="" class="dropdown-item">Moje filmy</a></li>
                                <li><a href="" class="dropdown-item">Moje postacie</a></li>
                                <li><a href="" class="dropdown-item">Komentarze</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a href="{% url 'user-update' %}" class="dropdown-item">Edytuj profil</a></li>
                                <li><a href="{% url 'user-password-update' %}" class="dropdown-item">Zmień hasło</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a href="{% url 'user-logout' %}" class="dropdown-item">Wyloguj</a></li>
                            </ul>
                        {% else %}
                            <a class="dropdown-toggle font-size-1-25" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Użytkownik
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a href="{% url 'user-login' %}" class="dropdown-item">Zaloguj</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a href="{% url 'user-register' %}" class="dropdown-item">Rejestracja</a></li>
                            </ul>
                        {% endif  %}
                    </div>
                </div>
            </nav>
        </header>
        <section>
            <!-- //--------------------------- page content -------------------------// -->
            {% block content %}{% endblock content %}
            <!-- //--------------------------- page content end ---------------------// -->
        </section>
        <div class="footer-push-style"></div>
    </div>
    <div class="footer-style text-center">
        <div class="text-center p-3">© 2022 Copyright: Mariusz Kuleta</div>
    </div>
    <script src="{% static 'movie_app/js/app.js' %}"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>