{% extends 'movie_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row container-body-style">
    <div class="container-header-style">
        {{ movie }}
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="container-image-style">
                <a href="{{ movie.avatar.url }}"><img src="{{ movie.avatar.url }}" alt="Avatar"></a>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="container-card-style">
                {% if request.user.is_authenticated %}
                    <div class="row">
                        <div class="col font-size-1-5">Film</div>
                        <div class="col right-style font-size-1-5">
                            {% if movie in request.user.liked_movies.all %}
                                <a href="{% url 'user-movie' pk=movie.pk %}?next={{ request.path }}"
                                class="text-danger" title="Usuń z ulubionych">&#9829;</a>
                            {% else %}
                                <a href="{% url 'user-movie' pk=movie.pk %}?next={{ request.path }}"
                                class="text-danger" title="Dodaj do ulubionych">&#9825;</a>
                            {% endif %}
                            {% if request.user.is_staff %}
                                <a href="{% url 'movie-update' pk=movie.pk %}" title="Edytuj">&#9997;</a>
                                <a href="{% url 'movie-delete' pk=movie.pk %}" title="Usuń" class="text-danger">&#10008;</a>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="font-size-1-5">Film</div>
                {% endif %}
                <div>
                    <ul class="list-none-style">
                        <li>Ranking: <span class="star-style">&#10029;</span> {{ movie.rating }}</li>
                        <li>Reżyseria:
                            {% if movie.director %}
                                <a href="{% url 'person-detail' pk=movie.director.pk %}">{{ movie.director }}</a>
                            {% else %}
                                -----
                            {% endif %}
                        </li>
                        <li>Scenariusz:
                            {% if movie.screenplay %}
                                <a href="{% url 'person-detail' pk=movie.screenplay.pk %}">{{ movie.screenplay }}</a>
                            {% else %}
                                -----
                            {% endif %}
                        </li>
                        <li>Rok premiery: {{ movie.year }}</li>
                        <li>Czas trwania: {{ movie.duration }}</li>
                        <li>Gatunek:
                            {% if movie.genre.all %}
                                {{ movie.genre.all|join:", " }}
                            {% else %}
                                -----
                            {% endif %}
                        </li>
                        </ul>
                </div>
                {% if movie.plot %}
                    <div id="plot" class="font-size-1-5">Fabuła</div>
                    <div class="text-style">
                        <span class="text-content">{{ movie.plot }}</span>
                        <span class="text-hidden display-none"></span>
                        <span class="dots display-none"> ...</span>
                        <button class="button-more-style button-more display-none" title="Rozwiń tekst">&#8681;</button>
                        <button class="button-more-style button-less display-none" title="Zwin tekst">&#8679;</button>
                    </div>
                {% endif %}
                {% if movie.characters.all %}
                    <div id="characters" class="row row-margin-style">
                        <div class="col font-size-1-5">Aktorzy
                            <a href="{% url 'movie-persons' pk=movie.pk %}" title="Lista - aktorzy">&#8680;</a>
                        </div>
                    </div>
                    <div class="card-slider-style">
                        <div class="card-slider-row-style">
                            {% for character in movie.movie_characters.all %}
                                <div class="card-slider-body-style">
                                    <img src="{{ character.person.avatar.url }}" alt="Avatar">
                                    <div>
                                        <a href="{% url 'person-detail' pk=character.person.pk %}">{{ character.person }}</a>
                                    </div>
                                    <div>{{ character.role }}</div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="card-slider-button-style">
                            <button class="prev">&#8249;</button>
                            <button class="next">&#8250;</button>
                        </div>
                    </div>
                {% endif %}
                {% if movie.movie_comments.all or form %}
                    <div id="comments" class="row row-margin-style">
                        <div class="col font-size-1-5">Komentarze
                            {% if movie.movie_comments.all %}
                                <a href="{% url 'movie-comments' pk=movie.pk %}" title="Lista - komentarze">&#8680;</a>
                            {% endif %}
                        </div>
                    </div>
                    <table class="table table-comment-style">
                        <tbody>
                            {% if form %}
                                <tr>
                                    <td class="col-1"><img src="{{ request.user.avatar.url }}" alt="Avatar"></td>
                                    <td class="col-11">
                                        <form class="form-comment-style" action="" method="POST">
                                            {% csrf_token %}
                                            <div class="row comment-header-style">
                                                <div class="col-6">
                                                    Dodaj komentarz:
                                                </div>
                                                <div class="col-6 right-style">
                                                    <button type="submit" title="Zapisz komentarz">&#10003;</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    {{ form.comment|as_crispy_field }}
                                                    {{ form.user|as_crispy_field }}
                                                    {{ form.movie|as_crispy_field }}
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            {% endif %}
                            {% for comment in movie.movie_comments.all|slice:":5" %}
                                <tr>
                                    <td class="col-1"><img src="{{ comment.user.avatar.url }}" alt="Avatar"></td>
                                    <td class="col-11">
                                        <div class="row comment-header-style">
                                            <div class="col-10">
                                                {{ comment.user }}, {{ comment.date_added|date:"j E Y, H:i"}}
                                            </div>
                                            <div class="col-2 right-style">
                                                {% if comment.user == request.user %}
                                                    <a href="{% url 'user-comment-delete' pk=comment.pk %}?next={{ request.path }}#comments"
                                                    class="text-danger" title="Usuń komentarz">&#10008;</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="text-comment-style">
                                            <span class="text-content">{{ comment.comment }}</span>
                                            <span class="text-hidden display-none"></span>
                                            <span class="dots display-none"> ...</span>
                                            <button class="button-more-style button-more display-none" title="Rozwiń tekst">&#8681;</button>
                                            <button class="button-more-style button-less display-none" title="Zwin tekst">&#8679;</button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}