{% extends 'movie_app/base.html' %}
{% block content %}
<div class="row container-body-style">
    <div class="container-header-style">
        {{ person }}
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="container-image-style">
                <a href="{{ person.avatar.url }}"><img src="{{ person.avatar.url }}" alt="Avatar"></a>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="container-card-style">
                {% if request.user.is_authenticated %}
                    <div class="row">
                        <div class="col font-size-1-5">Profil</div>
                        <div class="col right-style font-size-1-5">
                            {% if person in request.user.liked_persons.all %}
                                <a href="{% url 'user-person' pk=person.pk %}?next={{ request.path }}"
                                class="text-danger" title="Usuń z ulubionych">&#9829;</a>
                            {% else %}
                                <a href="{% url 'user-person' pk=person.pk %}?next={{ request.path }}"
                                class="text-danger" title="Dodaj do ulubionych">&#9825;</a>
                            {% endif %}
                            {% if request.user.is_staff %}
                                <a href="{% url 'person-update' pk=person.pk %}" title="Edytuj">&#9997;</a>
                                <a href="{% url 'person-delete' pk=person.pk %}" title="Usuń" class="text-danger">&#10008;</a>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="font-size-1-5">Profil</div>
                {% endif %}
                <div>
                    <ul class="list-none-style">
                        {% if age %}
                            <li>Wiek: {{ age }} lat</li>
                            <li>Data urodzenia: {{ person.date_of_birth|date:"j E Y" }}</li>
                        {% else %}
                            <li>Data urodzenia: {{ person.date_of_birth|date:"j E Y" }}</li>
                            <li>Data śmierci: {{ person.date_of_death|date:"j E Y" }}</li>
                        {% endif %}
                        <li>Kraj pochodzenia: {{ person.country.name }}</li>
                    </ul>
                </div>
                {% if person.biography %}
                    <div class="font-size-1-5">Biografia</div>
                    <div class="text-style">
                        <span class="text-content">{{ person.biography }}</span>
                        <span class="text-hidden display-none"></span>
                        <span class="dots display-none"> ...</span>
                        <button class="button-more-style button-more display-none" title="Rozwiń tekst">&#8681;</button>
                        <button class="button-more-style button-less display-none" title="Zwin tekst">&#8679;</button>
                    </div>
                {% endif %}
                {% if person.directors.all or person.screenplays.all or person.characters.all %}
                    <div id="movies" class="row-margin-style font-size-1-5">Filmy</div>
                    <div class="row">
                        <div class="col">
                            {% if person.characters.all %}
                                <div class="inline-block-style">
                                    <button type="button" class="btn button-style" data-button="character">Aktor</button>
                                    <a href="{% url 'person-movies' pk=person.pk status='character' %}" title="Lista - aktor">
                                        <button class="btn button-outline-style">Aktor <span>&#8680;</span></button>
                                    </a>
                                </div>
                            {% endif %}
                            {% if person.directors.all %}
                                <div class="inline-block-style">
                                    <button type="button" class="btn button-style" data-button="director">Reżyser</button>
                                    <a href="{% url 'person-movies' pk=person.pk status='director' %}" title="Lista - aktor">
                                        <button class="btn button-outline-style">Reżyser <span>&#8680;</span></button>
                                    </a>
                                </div>
                            {% endif %}
                            {% if person.screenplays.all %}
                                <div class="inline-block-style">
                                    <button type="button" class="btn button-style" data-button="screenplay">Scenarzysta</button>
                                    <a href="{% url 'person-movies' pk=person.pk status='screenplay' %}" title="Lista - aktor">
                                        <button class="btn button-outline-style">Scenarzysta <span>&#8680;</span></button>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if person.characters.all %}
                        <div class="card-slider-style" data-card="character">
                            <div class="card-slider-row-style">
                                {% for character in person.person_characters.all %}
                                    <div class="card-slider-body-style">
                                        <img src="{{ character.movie.avatar.url }}" alt="Avatar">
                                        <span class="corner-star-style">
                                            <span class="star-style">&#10029;</span>{{ character.movie.rating }}
                                        </span>
                                        <div>
                                            <a href="{% url 'movie-detail' pk=character.movie.pk %}">{{ character.movie }}</a>
                                        </div>
                                        <div>{{ character.role }}</div>              
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="card-slider-button-style">
                                <button class="prev">&#8249;</button>
                                <button class="next">&#8250;</button>
                            </div>
                        </div>
                    {% endif %}
                    {% if person.directors.all %}
                        <div class="card-slider-style" data-card="director">
                            <div class="card-slider-row-style">
                                {% for movie in person.directors.all %}
                                    <div class="card-slider-body-style">
                                        <img src="{{ movie.avatar.url }}" alt="Avatar">
                                        <span class="corner-star-style">
                                            <span class="star-style">&#10029;</span>{{ movie.rating }}
                                        </span>
                                        <div>
                                            <a href="{% url 'movie-detail' pk=movie.pk %}">{{ movie }}</a>
                                        </div>
                                        <div>{{ movie.year }}</div>              
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="card-slider-button-style">
                                <button class="prev">&#8249;</button>
                                <button class="next">&#8250;</button>
                            </div>
                        </div>
                    {% endif %}
                    {% if person.screenplays.all %}
                        <div class="card-slider-style" data-card="screenplay">
                            <div class="card-slider-row-style">
                                {% for movie in person.screenplays.all %}
                                    <div class="card-slider-body-style">
                                        <img src="{{ movie.avatar.url }}" alt="Avatar">
                                        <span class="corner-star-style">
                                            <span class="star-style">&#10029;</span>{{ movie.rating }}
                                        </span>
                                        <div>
                                            <a href="{% url 'movie-detail' pk=movie.pk %}">{{ movie }}</a>
                                        </div>
                                        <div>{{ movie.year }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="card-slider-button-style">
                                <button class="prev">&#8249;</button>
                                <button class="next">&#8250;</button>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}