{% extends 'movie_app/base.html' %}
{% block content %}
<div class="row container-body-style">
    <div class="container-header-style">{{ person }}</div>
    <div class="row">
        <div class="col-sm-2">
            <div class="container-image-style">
                <a href="{{ person.avatar.url }}"><img src="{{ person.avatar.url }}" alt="Avatar"></a>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="container-card-style">
                <div class="row">
                    <div class="col-8 font-size-1-5">
                        {% if status == 'character' %}
                            Aktor
                        {% elif status == 'director' %}
                            Reżyser
                        {% else %}
                            Scenariusz
                        {% endif %}
                        <a href="{% url 'person-detail' pk=person.pk %}#movies" title="Wstecz">&#8679;</a>
                    </div>
                    <div class="col-4 font-size-1-5 right-style">
                        {% if is_paginated %}
                            {% if page_obj.number > 1 %}
                                <a href="?page={{ page_obj.number|add:'-1' }}">&laquo;</a>
                            {% endif %}
                            {% if page_obj.paginator.num_pages <= 1 %}
                                {{ pass }}
                            {% else %}
                                {% for i in page_obj.paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        {{ i }}
                                    {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                                        <a href="?page={{ i }}">{{ i }}</a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if page_obj.paginator.num_pages > page_obj.number %}
                                <a href="?page={{ page_obj.number|add:'1' }}">&raquo;</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <table class="table table-style">
                    <tbody>
                        {% if status == 'character' %}
                            {% for character in object_list %}
                                <tr>
                                    <td class="col-1 text-center">{{ forloop.counter }}</td>
                                    <td class="col-1 text-center"><img src="{{ character.movie.avatar.url }}" alt="Avatar"></td>
                                    <td class="col-6">
                                        <ul class="list-none-style">
                                            <li><a href="{% url 'movie-detail' pk=character.movie.pk %}" class="font-size-1-25">{{ character.movie }}</a></li>
                                            <li>Ranking: <span>&#10029;</span> {{ character.movie.rating }}</li>
                                            <li>Rok produkcji: {{ character.movie.year }} r.</li>
                                        </ul>
                                    </td>
                                    <td class="col-4 text-center">
                                        Postać:</br>{{ character.role }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            {% for movie in object_list %}
                                <tr>
                                    <td class="col-1 text-center">{{ forloop.counter }}</td>
                                    <td class="col-1 text-center"><img src="{{ movie.avatar.url }}" alt="Avatar"></td>
                                    <td class="col-6">
                                        <ul class="list-none-style">
                                            <li><a href="{% url 'movie-detail' pk=movie.pk %}" class="font-size-1-25">{{ movie }}</a></li>
                                            <li>Ranking: <span>&#10029;</span> {{ movie.rating }}</li>
                                            <li>Rok produkcji: {{ movie.year }} r.</li>
                                        </ul>
                                    </td>
                                    <td class="col-4 text-center">
                                        {% if status == 'director' %}
                                            Scenariusz:</br>
                                            {% if movie.screenplay %}
                                                <a href="{% url 'person-detail' pk=movie.screenplay.pk %}">{{ movie.screenplay }}</a>
                                            {% else %}
                                                -----
                                            {% endif %}
                                        {% elif status == 'screenplay' %}
                                            Reżyseria:</br>
                                            {% if movie.director %}
                                                <a href="{% url 'person-detail' pk=movie.director.pk %}">{{ movie.director }}</a>
                                            {% else %}
                                                -----        
                                            {% endif %}
                                        {% endif %}            
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}