{% extends 'movie_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row container-body-style">
    <div class="col-lg-4 col-md-6 col-sm-8 col-10">
        <div class="container-header-style">
            Podaj adres email aby zmienić hasło
        </div>
        <div class="container-card-style">
            <form class="form-style" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level ==  DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <p class="text-center text-success">
                                <strong>{{ message.message }}</strong>
                            </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-12">
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>
                <div class="row row-margin-style">
                    <div class="col-6">
                        <a href="{% url 'index' %}" class="btn button-style">Anuluj</a>
                    </div>
                    <div class="col-6 right-style">
                        <button type="submit" class="btn button-style">Wyślij</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}