{% extends 'movie_app/base.html' %}
{% block content %}
<div class="row container-body-style">
    <div class="container-header-style">{{ request.user.get_full_name }}</div>
    <div class="row">
        <div class="col-sm-2">
            <div class="container-image-style">
                <a href="{{ request.user.avatar.url }}"><img src="{{ request.user.avatar.url }}" alt="Avatar"></a>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="container-card-style">
                <div class="row">
                    <div class="col-8 font-size-1-5">
                        Komentarze filmów ( {{ user.user_comments.count }} )
                    </div>
                    <div class="col-4 font-size-1-5 right-style">
                        {% if is_paginated %}
                            {% if page_obj.number > 1 %}
                                <a href="?page={{ page_obj.number|add:'-1' }}">&laquo;</a>
                            {% endif %}
                            {% if page_obj.paginator.num_pages <= 1 %}
                                {{ pass }}
                            {% else %}
                                {% for i in page_obj.paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        {{ i }}
                                    {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                                        <a href="?page={{ i }}">{{ i }}</a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if page_obj.paginator.num_pages > page_obj.number %}
                                <a href="?page={{ page_obj.number|add:'1' }}">&raquo;</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <table class="table table-comment-style">
                    <tbody>
                        {% for comment in comment_list %}
                            <tr>
                                <td class="col-1"><img src="{{ comment.movie.avatar.url }}" alt="Avatar"></td>
                                <td class="col-11">
                                    <div class="row comment-header-style">
                                        <div class="col-10">
                                            <a href="{% url 'movie-detail' pk=comment.movie.pk %}">{{ comment.movie }}</a>
                                            {{ comment.date_added|date:"j E Y, H:i"}}
                                        </div>
                                        <div class="col-2 right-style">
                                            <a href="{% url 'user-comment-delete' pk=comment.pk %}?next={{ request.path }}#comments"
                                            class="text-danger" title="Usuń komentarz">&#10008;</a>
                                        </div>
                                    </div>
                                    <div class="text-comment-style">
                                        <span class="text-content">{{ comment.comment }}</span>
                                        <span class="text-hidden display-none"></span>
                                        <span class="dots display-none"> ...</span>
                                        <button class="button-more-style button-more display-none" title="Rozwiń tekst">&#8681;</button>
                                        <button class="button-more-style button-less display-none" title="Zwin tekst">&#8679;</button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}