*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scrollbar-width: none;
}

html, body {
    font-family: serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: #ffdb00;
}

a:hover {
    color: #ffdb00;
}

.font-size-1-25 {
    font-size: 1.25rem;
}

.font-size-1-5 {
    font-size: 1.5rem;
}

.font-size-1-75 {
    font-size: 1.75rem;
}

.font-size-2 {
    font-size: 2rem;
}

.font-size-2-5 {
    font-size: 2.5rem;
}

.display-none {
    display: none;
}

.display-none-important {
    display: none !important;
}

.container-style {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -58px;
}

.footer-push-style {
    clear: both;
    height: 55px;
}

.footer-style {
    clear: both;
    height: 55px;
    color: #ffdb00;
    border-top: 2px solid #ffdb00;
}

.navbar-style {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid #ffdb00;
}

.navbar-logo-style {
    height: 50px;
    border-radius: 5px;
}

.navbar-main-style {
    margin-left: 10px;
    font-size: 1.5rem;
}

.navbar-form-style {
    margin-right: 10px;
}

.navbar-form-style input {
    width: 200px;
    background-color: inherit;
    color: white;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    font-size: 1.1rem;
    padding-right: 30px;
}

.navbar-form-style button {
    background-color: transparent;
    border: none;
    color: #ffdb00;
    font-size: 1.25rem;
    font-weight: bold;
    outline: none;
    margin-left: -30px;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.navbar-dropdown-style {
    text-align: center;
    min-width: 175px;
    padding-right: 10px;
}

.navbar-dropdown-style ul {
    width: inherit;
    width: 100%;
    text-align: center;
}

.container-body-style {
    justify-content: center;
    margin: 10px;
}

.container-header-style {
    margin: 5px;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
}

.container-slider-style {
    position: relative;
    margin-top: 10px;
}

.container-slider-style .card-style img {
    width: 100%;
    background-color: white;
    border: 2px solid gray;
    border-radius: 15px;
}

.container-slider-style .card-style div {
    text-align: center;
    margin-top: 10px;
    font-size: 1.5rem;
}

.container-slider-style .card-style span {
    color: #ffdb00;
    font-size: 1.5rem;
}

.container-slider-style button {
    background: none;
    border: none; 
    font-size: 6rem;
    color: #ffdb00;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
}

.container-slider-style button.prev {
    left: -50px;
}

.container-slider-style button.next {
    right: -50px;
}

.container-card-style {
    margin: 5px;
    padding: 15px;
    color: white;
    border: 2px solid gray;
    border-radius: 10px;
}

.container-card-style-2 {
    margin: 5px;
    padding: 15px;
    color: white;
}

.container-image-style {
    margin: 5px;
}

.container-image-style img {
    width: 100%;
    border: 2px solid gray;
    border-radius: 10px;
}

.list-none-style {
    list-style: none;
}

.list-none-style span {
    color: #ffdb00;
}


.text-style {
    text-indent: 30px;
    text-align: justify;
}

.table-style tr td {
    color: white;
    vertical-align: middle;
    border-bottom: 2px solid gray;
}

.table-style span {
    color: #ffdb00;
}

.table-style img {
    width: 64px;
    margin: 5px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;
}

.table-style ul {
    list-style: none;
    margin-bottom: 0px;
    margin-left: -25px;
    margin-right: 25px;
}

.row-margin-style {
    margin-top: 20px;
}

.right-style {
    text-align: right;
}

.left-style {
    text-align: left;
}

.button-style {
    background-color: #ffdb00;
    margin-top: 5px;
}

.button-outline-style {
    color: white;
    background-color: black;
    border: 1px solid #ffdb00;
    margin-top: 5px;
}

.button-outline-style span {
    color: #ffdb00;
}

.button-outline-style:hover {
    color: white;

}

.inline-block-style {
    display: inline-block;
}

.form-style input,
.form-style textarea,
.form-style select {
    background-color: black;
    color: white;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 0px;
}

.form-style input:focus,
.form-style textarea:focus,
.form-style select:focus {
    background-color: inherit;
    color: inherit;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.form-style input::-webkit-outer-spin-button,
.form-style input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-style input[type=number] {
  -moz-appearance: textfield;
}

.form-style input[type="file"] {
    border: none;
}

.form-style .form-check {
    float: left;
    width: 25%;
    margin-top: 7.5px;
}

.form-style .form-check input {
    background-color: white;
    border: none;
}

.form-style .form-check input:checked {
    background-color: black;
    border: 1px solid white;
}

.form-style input[type="file"]:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.form-style input[type=file]::file-selector-button {
    border: none;
    border-radius: 4px;
    padding: 5px;
    background-color: #ffdb00;
}

.form-style input:-webkit-autofill,
.form-style input:-webkit-autofill:hover, 
.form-style input:-webkit-autofill:focus, 
.form-style input:-webkit-autofill:active
.form-style select:-webkit-autofill,
.form-style select:-webkit-autofill:hover, 
.form-style select:-webkit-autofill:focus, 
.form-style select:-webkit-autofill:active
.form-style textarea:-webkit-autofill,
.form-style textarea:-webkit-autofill:hover, 
.form-style textarea:-webkit-autofill:focus, 
.form-style textarea:-webkit-autofill:active { 
    box-shadow: 0 0 0 30px black inset !important;
    -webkit-box-shadow: 0 0 0 30px black inset !important;
    background-color: black;
    color: white;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 0px;
}

.form-style input:-webkit-autofill,
.form-style textarea:-webkit-autofill,
.form-style select:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

.button-search-style {
    background-color: black;
    margin-bottom: -2.5px;
    color: #ffdb00;
    border: none;
    font-size: 1.5rem;    
}

.card-slider-style {
    margin: 1px;
    margin-top: 15px;
    position: relative;
}

.card-slider-row-style {
    display: flex;
}

.card-slider-body-style {
    width: 175px;
    background-color: black;
    border: none;
    position: relative;
}

.card-slider-body-style img {
    width: 100%;
    background-color: white;
    border: 2px solid gray;
    border-radius: 10px;
}

.card-slider-body-style div {
    text-align: center;
    margin-top: 5px;
}

.corner-star-style {
    position: absolute;
    left: 6px;
    color: black;
    font-weight: bold;
}

.corner-star-style span {
    color: #ffdb00;
    font-size: 1.5rem;
}

.card-slider-button-style button {
    width: 40px;
    height: 40px;
    background: black;
    border: 1px solid #ffdb00;
    color:#ffdb00;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    transform: translateY(-50%);
}

.card-slider-button-style .prev {
    left: -7.5px;
    padding-right: 2.5px;
}

.card-slider-button-style .next {
    right: -7.5px;
    padding-left: 2.5px;
}

.list-float-style li {
    margin-top: 2.5px;
    float: left;
    width: 33%;
}

.button-delete-character-style {
    background-color: black;
    border: none;
    font-size: 1.25rem;
    color: red;
}
